.navbar {
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0; /* Alinea al principio de la página */
  left: 0;
  right: 0;
  padding: 10px 20px; /* Espaciado alrededor */
  display: flex;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

